__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/

.pytest_cache/


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
.idea
.run
