.first-color {
    background: #05668D !important;
}

.second-color {
    background: #028090 !important;
}

.third-color {
    background: #00A896 !important;
}

.fourth-color {
    background: #02C39A !important;
}

.fifth-color {
    background: #F0F3BD !important;
}