.first-color {
    background: #f4f3f3 !important;
}

.second-color {
    background: #dfdfd8 !important;
}

.third-color {
    background: #bfd8d5 !important;
}

.fourth-color {
    background-color: #b1bed5 !important;
}